

h1 {
  font-family: khand;
  font-weight: 300;
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: -3px;
  font-size: 45px;
}

h2.company-header {
  font-family: khand;
  font-weight: 300;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
}

a {
  color: #afc242;
}

a:hover {
  color: #ccdc53;
  text-decoration: none;
}

.dummy{
  padding-top: 3em;
}

#typed {
  font-family: khand;
  font-weight: 300;
  margin-top: 5em;
  font-size: 2em;
  padding-right: 0;
}

.banner {
  width: 100%;
}

.tagline {
  font-family: PT Serif, serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.tagline_div {
  color: #939393
}

.nav-tabs {
  margin-top: 2em;
}

.btn-link {
  text-transform: uppercase;
  font-family: khand;
  font-weight: 300;
  color: black;
}

h4 {
  font-family: khand;
  font-weight: 300;
  font-size: 2em;
  color: #afc242;
  text-align: center;
  float: right;
  padding-bottom: .5em;
  padding-right: 32px;
}

footer {
  width: 100%;
  color: #f4f4f4;
  height: 200px;
}

button.btn:hover {
  text-decoration: none;
}

button.btn.active {
  text-decoration: none;
}

span {
  font-size: 1.5em;
}

.table {
  width: 61%;
  color: gray !important;
  background-color: #f1f1f1;
}

div.tweet_box {
  float: left;
  padding-left: 4em;
  padding-right: 1.5em;
}

.tweet_button {
  text-align: center;
    white-space: normal;
}


img {
  width: 20%;
}


.form-inline {
  text-align: center;
  padding-top: 1.5em;
}

.title {
  border: 1px solid grey;
  padding: 1.5em;
}

.result {
  width: 100%;
  text-align: center;
}

#company_detail{
  width: 50%;
  margin: 0 auto;
}


.mix {
  text-align: center;
  padding-top: 2.5em;
}

p.about {
  text-transform: lowercase;
  margin-bottom: 3em;
}

p.chars-left {
  float: right;
  padding-right: 56px;
  color: #55acee;
  font-size: .8em;
  padding-top: 9px;
  max-width: 5%;
  min-width: 2px;
}

textarea {
  height: 11em !important;
  font-size: 12px !important;
}

.form-control {
  max-width: 100% !important;
  width: inherit;;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.controls {
  text-align: center;
}

.nav {
  text-align: center;
}

#Container .mix{
	display: none;
}

#home-button {
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding-right: 1.9em;
}

.login {
  text-align: right;
  padding-top: 2.0em;
}

.auth {
  padding-right: 2.0em;
}

.auth {
  padding-right: 2.0em;
}

.links {
  text-align: center;
}

.user_description {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

#twitter_logo{
  text-align: left;
}

#company_table {
  margin: 0 auto;
}

.blink {
  font-family: PT Serif, serif;
  animation: blinking normal 3s ease-in-out;
}

@keyframes blinking {
  0% {opacity: 0;}
  50% {opacity: .5;}
  100% {opacity: 1;}
}

.industry-filter {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: inherit;
}

.box-red {
  border: 1.5px solid red !important;
}

.char-red {
  color: red !important;
}
