{% extends 'bootcamp_recruiter/base.html' %}
{% load staticfiles %}

  {% block content %}

    <div>
      <div class="giphy-container"> </div>
      <p class="giphy-copy"> We detected some slang in that last tweet. Lets keep it professional. </p>
      <a class="glyphicon glyphicon-home" id="home-button" style="font-size: 30px;" href='/'></a>
    </div>


    <script>
    $(function(){
         $.getJSON('http://api.giphy.com/v1/gifs/search?q=fail&limit=20&api_key=dc6zaTOxFJmzC', function(data) {
              var randomNumber = Math.floor(Math.random() * 20)
              var giphy = data.data[randomNumber].images.fixed_height.url
              var result = $('.giphy-container').append('<div>').find('div');
           result.append('<img src=' + giphy + '>')
           result.addClass('giphy-image')
         });
      });
      </script>

  {% endblock %}
