{% extends 'bootcamp_recruiter/base.html' %}
{% load staticfiles %}

  {% block content %}
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>


  <div class="hero">
      <h1 class='username'>  {{tweet.user.name}}  </h1>
      <h3 style="text-align: center" class='screen_name'> <a href="https://twitter.com/{{tweet.user.screen_name}}" target="_blank">
      @{{tweet.user.screen_name }}</a> </h3>
      <h3 style="text-align: center" class="tweets">"{{tweet.text}}"</h3>
      <a href="https://twitter.com/intent/retweet?tweet_id={{tweet.id}}">
     <div>
      <img class="retweet" src="{%static "images/retweet-action.png" %}"> </a>
      <a class="glyphicon glyphicon-home hero-home" href='/'></a>
    </div>
  </div>

  <script>
    var tweet = $('.tweets').html();
    var regex = /(https?:\/\/([-\w\.]+)+(:\d+)?(\/([\w\/_\.]*(\?\S+)?)?)?)/ig
    var replace_link = tweet.replace(regex, "<a href='$1' target='_blank'>$1</a>");
    $('.tweets').html(replace_link);
  </script>

  {% endblock %}
