{% extends 'bootcamp_recruiter/base.html' %}
{% load staticfiles %}

  {% block content %}
  <div class="controls">
    <h1> Bootcamp Recruiter </h1>
      <div class="tagline_div">
        <p class="tagline"> Connecting WDI students to inspiring </p>
        <p class="tagline"> mentorships and great jobs.</p>
     </div>
    <ul class="nav nav-tabs">
        <button class="industry-filter btn btn-link filter" data-filter=".E-Commerce">E-Commerce </button>
        <button class="industry-filter btn btn-link filter" data-filter=".Education">Education </button>
        <button class="industry-filter btn btn-link filter" data-filter=".Agency">Agency</button>
        <button class="industry-filter btn btn-link filter" data-filter=".Finance">Finance</button>
        <button class="industry-filter btn btn-link filter" data-filter=".Software">Software</button>
        <button class="industry-filter btn btn-link filter" data-filter=".Media">Media</button>
        {% if user and not user.is_anonymous %}
        <button class="industry-filter btn btn-link filter"> <a href="/heroes"> Motivation <a></button>
        {% endif %}
    </ul>

    <div id="typed-strings">
      <p> Find companies that have hired Bootcamp Grads</p>
      <p> Filter them based on industry </p>
      <p> Get the scoop </p>
      <p> Then connect with them on Twitter </p>
      <p> <a class="blink" href="/login/twitter"> <img src="{%static "images/twitter.png" %}"> Login >> </a></p>
    </div>
    <div class="dummy"> </div>
      <span id="typed"></span>

       <div id="Container" class="container">
            <div class="result"></div>
       </div>
      {% verbatim %}
      <template id="company-template" type="text/x-handlebars-template">
        {{#each companies}}
          <div class="mix {{industry_type}}">
            <h4 class="title"> <a href='companys/{{company_name}}'><b>{{company_name}}</b></a></h4><br>
          </div>
        {{/each}}
      {% endverbatim %}
      </template>
    </div>


  {% endblock %}
