{% extends 'bootcamp_recruiter/base.html' %}
{% load staticfiles %}

  {% block content %}
  <header>
    {% with statuses|first as first_s %}
    <div style="padding-bottom: 3em; width:50%; margin: 0 auto">
      <div>
        <h3> {{first_s.user.name}} </h3>
      </div>
      <p class="user_description"> {{ first_s.user.description}} </p>
    </div>
      <!-- <p> Following: {{ first_s.user.following|yesno:"Yes,No,maybe"}} </p> -->
  </header>

  <div class="tweet_box">
    <img id="twitter_logo"src="{{ first_s.user.profile_image_url}}">
    <h4> SAY HELLO! </h4>
    <form class="form-vertical" action="/tweets" method="post">
    {% csrf_token %}
        <div class="form-group">
          <textarea type="text" row="3" class="form-control" id="status" name="status" value="@{{first_s.user.screen_name}}">@{{first_s.user.name}}</textarea> 
        </div>

      <div class="form-group">
        <div class="tweet_button">
          <button style="margin-bottom:20px;"type="submit" class="btn btn-primary">Tweet</button> <br>
          <a class="glyphicon glyphicon-home" style="font-size: 20px;" href='/'></a>
        </div>
     </div>
   </div>
 </form>

    <table class="table table-striped" id="twitter_container">
    {% for s in statuses %}
      <div>
      <tr>
        <td class="tweets">{{s.text}} <br> <i style="font-size: .7em;"> Created On: {{s.created_at}} <i> </td>
      </tr>
      </div>
    {% endfor %}
  </table>


 </div>
    {% endwith %}

  {% endblock %}
