{% extends 'bootcamp_recruiter/base.html' %}
{% load staticfiles %}

  {% block content %}
  <header>
    {% with statuses|first as first_s %}
    <div style="padding-bottom: 3em; width:50%; margin: 0 auto">
      <div>
        <h2 class="company-header"> {{first_s.user.name}} </h2>
      </div>
      <p class="user_description"> {{ first_s.user.description}} </p>
    </div>
      <!-- <p> Following: {{ first_s.user.following|yesno:"Yes,No,maybe"}} </p> -->
  </header>

  <div class="tweet_box">
    <img id="twitter_logo"src="{{ first_s.user.profile_image_url}}">
    <h4> SAY #HELLO! </h4>
    <form class="form-vertical" action="/tweets" method="post">
    {% csrf_token %}
        <div class="form-group">
          <textarea type="text" class="form-control" id="status" name="status" value="@{{first_s.user.screen_name}} "> @{{first_s.user.screen_name}} </textarea>
        </div>

        <div class="form-group">
          <div class="tweet_button">
            <p class="chars-left"> 140 </p>
            <button style="margin-bottom:20px; margin-left: 26px;"type="submit" class="btn btn-primary">Tweet</button> <br>
         </div>
        <a class="glyphicon glyphicon-home" id="home-button" style="font-size: 20px;" href='/'></a>
     </div>
   </div>
 </form>

    <table class="table table-striped" id="twitter_container">
    {% for s in statuses %}
      <div>
      <tr>
        <td class="tweets">{{s.text}} <br> <i style="font-size: .7em;"> Created On: {{s.created_at}} <i> </td>
      </tr>
      </div>
    {% endfor %}
  </table>


 </div>
    {% endwith %}

  <script>
  $(function(){
    $('textarea').keyup(function(){
       var chars_left = $('textarea').val().length;
       var remainder = 140 - chars_left;

       $('.chars-left').html('');
       $('.chars-left').append(remainder);
    });
  });

  </script>
  {% endblock %}
